<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Game</title>
    
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.0/socket.io.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
    <style>
        table {
            margin: 20px auto;
        }
        table tr td {
            width: 100px;
            height: 100px;
            border: 1px solid black;
        }

    </style>

</head>
<body>
    <div id="turn"></div>
    <table>
        <tr>
            <td>
                <svg height="100" width="100">
                    <circle cx="50" cy="50" r="40" stroke="blue" stroke-width="2" fill="white" />
                </svg>
            </td>
            <td>
                <svg height="100" width="100">
                    <path d="m 10,10 l 80,80 M 90,10 L 10,90" stroke-width="2" stroke="red"/>
                </svg>
            </td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>

    <div id="scores">

    </div>

    <script>
        let socket = io()
        let id = ''
        const room = "<%= room %>", name = "<%= name %>";
        socket.on('disconnect', (reason) => {
            console.log(reason)
        })
        socket.on('init_id', data => {
            id = data
        })
        socket.on('init_scores', refreshScore)
        
        socket.emit('init', `{"room": "${room}", "name": "${name}"}`);

        function refreshScore(data) {
            let j = JSON.parse(data);
            for (key in j) {
                $('#scores').append('<p><strong>' + j[key][0] + ': </strong>' + j[key][1].toString() + '</p>')    
            }
            // $('#scores').append('<p><strong>' + j[id][0] + '</strong></p>')
            // $('#scores').append('<p><strong>' + j[id][0] + '</strong></p>')
        }
    </script>

</body>
</html>